body {
    font-family: 'IM Fell English', serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.displayNone {
    display: none !important;
}

#logoBox {
    margin: auto;
    margin-top:20px;
}

nav {
    margin: auto;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}

ul>li {
    display: block;
    min-width: 200px;
    padding: 10px;
    background-color: #eedec6;
    margin: 3px;
    border-radius: 15px;
    text-align: center;
}

a {
    display: block;
    margin: auto;

    font-weight: 600;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
}

#logo {
    width: 40vw;
    min-width: 220px;
    display: block;
    margin: auto;
    padding: 2vh;
}

#loginBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#loginBox>div {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

input {
    font-family: arial;
}

button {
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

#loginButtonsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

#loginButtonsBox>button {
    min-width: 180px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    color: black;
    background: linear-gradient(180deg, #eedec6 0%, #eed8b7 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#loginButtonsBox>button:hover {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 40px 11px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 40px 11px rgba(0, 0, 0, 0);
}

main {
    width: 100vw;
}

#list-section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#returnButton {

    padding:5px;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all .3s; 
}

#returnButton:hover {
    background-color: #eedec6;
}

#list-section {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    justify-content: space-evenly;
    gap: 15px;
    margin: auto;
}

.card {
    flex-grow: 1;
    max-width: 250px;
    border-radius: 15px;
    padding: 15px;
    -webkit-box-shadow: 1px 0px 9px -1px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 0px 9px -1px rgba(0, 0, 0, 0.64);
    box-shadow: 1px 0px 9px -1px rgba(0, 0, 0, 0.64);
}

h2{
    text-align: center;
}

h3 {
    margin: 0px;
    text-align: center;
}

footer {
    height: 5vh;
}

.book-card {
   width: 100%; 
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    padding: 15px;
    -webkit-box-shadow: 1px 0px 9px -1px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 0px 9px -1px rgba(0, 0, 0, 0.64);
    box-shadow: 1px 0px 9px -1px rgba(0, 0, 0, 0.64);
}

.book-card>img {
    display:block;
    margin:auto;
    margin-top:5px;
    width:200px;
    border:1px solid black;
}

.book-card>p:nth-child(3){
    text-align: center;
}

.book-card>p:nth-child(4){
    text-align: center;
}
.book-card>a:nth-child(6){
    display:block;
    text-align: center;
}
.book-card>input{
    display:block;
    margin:auto;
    margin-top:5px;
}

.book-card>label{
    display:block;
    margin:auto;
    text-align: center;
}

.amazonButton {
    padding: 5px;
    background-color: #fa8900;
    border-radius: 20px;
    width: auto;
}

.fade-in {
    opacity: 1;
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* while loading animation*/
.loading {
    display: inline-block;
    margin: 5em;
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.style-3 {
    border-style: double;
    border-color: #444 #fff #fff;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    100% {
        -moz-transform: rotate(359deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(359deg);
    }
}

@media only screen and (min-width: 600px) {
    .book-card>img {
        width: 250px;
    }
  }